* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
}

.nav-link {
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: bolder;
    padding-right: 28px;
}

.bg-image {
    height: 820px;
    background-image: url(/img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
}